<head>
	<title>Minu kodukas!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Suur pealkiri</h1>
	<h2>Keskmine pealkiri</h1>
	<h3>Väike pealkiri</h1>
	<h4>Veel väiksem pealkiri</h4>
	<p>Paragraaf. Tavaline tekst.</p>
	<ul>
		<li>Esimene</li>
		<li class="kastiga">Teine</li>
		<li>Kolmas</li>
	</ul>
	<form>
	   <input id="nimi" placeholder="Mis on sinu nimi?"/>
	   <input type="checkbox"/>
	   <input class="kastiga" rype="rage"/>
	   <input type="submit"/>
	   <input type="date"/>
	</form>
	<img class="kastiga" width="100" src="https://www.google.ee/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/>
	<script src= "script.js"></script>
</body>