<head>
   <title>Kristeri chat</title>
</head>
	 <Body>
		<div id="jutt"></div>
		<form>
			<input id="username" value="Karl" placeholder="kasutaja"/>
		   <input id="message"  value="Minu esimene sonum :)"  placeholder="sõnum"/>
		   <input type="submit"/>
	    </form>
	    <script src= "script.js"></script>
	 </body>
    
