<head>
   <title>Kristeri chat</title>
</head>
	 <Body>
	 <input id="room" value="general"/>
		<div id="jutt"></div>
		<form>
			<input id="username" value="Karl" placeholder="kasutaja"/>
		   <input id="message"  value="Kirjuta siia midagi"  placeholder="sõnum"/>
			<input id="pilt" placeholder="url"/>
		   <input type="submit"/>
	    </form>
	    <script src= "script.js"></script>
	 </body>
    
