<head>
   <title>Kristeri chat</title>
</head>
	 <Body>
	 <h1>Chat nr1</h1>
	 <input id="room" value="general"/>
	 <div id="jutt"></div><p></p>
		<form>
			<input id="username" value="Karl" placeholder="kasutaja"/>
		   <input id="message"  value="Minu esimene sonum :)"  placeholder="sõnum"/>
			<input id="pilt" placeholder="Sisesta url"/>
		   <input type="submit"/>
	    </form>
	    <script src= "script.js"></script>
	 </body>
    
